<ion-content [scrollY]="false">

  <app-workflow-header>Sorry about that...</app-workflow-header>

  <div class="ion-padding-horizontal">
    <p>Supporting unpaid orders is our top priority. However, this functionality is not available at the moment.</p>
    <p>If you wish to make use of the Airands platform right now, please contact the seller to pre-purchase your order.</p>
    <p>Thank you.</p>
    <p>-- Airands Team</p>
    <br>
    <app-button (click)="dismissModal()">Back</app-button>
  </div>

</ion-content>
