@import "src/theme/mixins.scss";

ion-button {
  --background-activated: unset;
  --background-focused: unset;
  --background-hover: unset;

  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--app-letter-spacing);

  @include ion-border-button(
          var(--ion-color-app-gray),
          var(--ion-color-app-gray),
          transparent,
          var(--ion-color-dark),
  );

  &.primary {
    @include solid-fill-button(
            var(--ion-color-primary),
            var(--ion-color-primary-shade),
            var(--ion-color-primary),
            white,
    );
  }

  &.facebook {
    @include solid-fill-button(
            #3B5998,
            #274177,
            #3B5998,
            white,
    );
  }

  &.google {
    @include solid-fill-button(
            #DB4437,
            #AD271C,
            #DB4437,
            white,
    );
  }

  &.apple {
    @include solid-fill-button(
            #242424,
            black,
            #242424,
            white,
    );
  }

  &.airands {
    @include solid-fill-button(
            var(--app-brand-color),
            var(--app-brand-color-shade),
            var(--app-brand-color),
            white,
    );
  }
}
