<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollY]="false">

  <div class="ion-padding onboarding-container">

    <div class="onboarding-text">
      <ion-text>
        <h2>We just need to get a bit more information so we know who to deliver to!</h2>
      </ion-text>
    </div>

    <ion-item class="ion-no-padding offset-right" color="transparent">
      <ion-input
          #ionInput
          maxlength="32"
          autocapitalize="on"
          type="text"
          placeholder="First Name"
          [(ngModel)]="firstName"
      ></ion-input>
    </ion-item>
    <ion-button (click)="goNext()" color="secondary" expand="block">Next</ion-button>
  </div>
</ion-content>
