<ion-content [fullscreen]="true" [scrollY]="false">

  <ion-header slot="fixed" class="ion-no-border">
    <ion-toolbar color="transparent">
      <ion-buttons slot="end">
        <ion-button (click)="logout()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding onboarding-container">

    <div class="onboarding-text">
      <ion-text>
        <h2>
          <ion-text color="secondary">Great!</ion-text>
          We just need to get a little more information so we know who to deliver to!</h2>
      </ion-text>
    </div>

    <ion-item class="ion-no-padding offset-right" color="transparent">
      <ion-input
          #ionInput
          maxlength="32"
          autocapitalize="on"
          type="text"
          placeholder="First Name"
          [(ngModel)]="firstName"
      ></ion-input>
    </ion-item>
    <ion-button (click)="goNext()" color="secondary" expand="block">Next</ion-button>
  </div>
</ion-content>
