.order-item {

  margin-bottom: 16px;

  .item-name {
    width: 75%;

    ion-input {
      --padding-start: 8px;
    }
  }

  .quantity {
    width: 25%;
    margin-left: 16px;
    --inner-padding-end: 0;

    ion-input {
      text-align: center;
      --padding-end: 0;
    }
  }

}

