<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>New Order</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title color="primary" size="large">New Order</ion-title>
      <ion-buttons slot="end">
        <ion-button color="secondary" *ngIf="!isEditMode" (click)="setEditMode(true)">Edit</ion-button>
        <ion-button color="secondary" *ngIf="isEditMode" (click)="setEditMode(false)">Cancel</ion-button>
        <ion-button *ngIf="isEditMode" (click)="deleteItems()" color="danger">Delete ({{ deleteCount }})</ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <form action="#" class="ion-padding-horizontal">

    <div class="order-items">
      <ion-item class="ion-no-padding" color="transparent" lines="none">
        <ion-label color="light" slot="start">Item Name</ion-label>
        <ion-label color="light" slot="end">Quantity</ion-label>
      </ion-item>

      <ion-list color="transparent">
        <app-order-item *ngFor="let item of items; index as i"
                        [item]="item"
                        [isEditMode]="isEditMode"
                        (checked)="handleItemChecked(i, $event)"
                        (created)="handleItemCreated(i, $event)"
                        (enter)="addItem()"
        ></app-order-item>
      </ion-list>

      <ion-item (click)="addItem()"
                [disabled]="!canCreateItem"
                button
                class="ion-no-padding"
                color="transparent"
                lines="none"
      >
        <ion-icon slot="start" color="primary" name="add-outline"></ion-icon>
        <ion-label color="primary">Add Item</ion-label>
      </ion-item>
    </div>

    <ion-button #submitBtn
                [disabled]="!canPlaceOrder"
                size="large"
                expand="block"
    >Place Order</ion-button>

    <!--    <ion-grid>-->

    <!--      <app-item-field-->
    <!--          *ngFor="let item of orderItems; index as i"-->
    <!--          (click)="handleClick(i)"-->
    <!--          [placeholder]="getPlaceholder(i)"-->
    <!--          [item]="item"-->
    <!--          [skipFocus]="i === 0"-->
    <!--          [active]="isActive(i)"-->
    <!--      ></app-item-field>-->

    <!--      <ion-row>-->
    <!--        <ion-col>-->
    <!--          <ion-item button-->
    <!--                    class="add-item-button"-->
    <!--                    lines="none"-->
    <!--                    color="transparent"-->
    <!--                    [disabled]="!canCreateItem"-->
    <!--                    (click)="addItem()"-->
    <!--                    [detail]="false"-->
    <!--          >-->
    <!--            <ion-label color="secondary">Add Item</ion-label>-->
    <!--            <ion-icon color="secondary" name="add-outline" slot="start"></ion-icon>-->
    <!--          </ion-item>-->
    <!--        </ion-col>-->
    <!--      </ion-row>-->

    <!--    </ion-grid>-->
  </form>
</ion-content>
