.add-item-button {
  --padding-start: 0;
}

ion-content {
  --keyboard-offset: 400px;
}

form {
  .order-items {
    margin: 32px 0;

    ion-list {
      --ion-item-background: transparent;
    }

    ion-item {
      &:last-of-type {
        margin-top: 16px;
      }
    }
  }
}
