<ion-content [scrollY]="false">

  <div slot="fixed" class="splash-content">
    <h1>airands</h1>
  </div>

  <div slot="fixed" class="splash-onboard-buttons ion-padding-horizontal">
    <app-button *ngIf="isIos" (click)="loginApple()" icon="logo-apple" color="apple">Continue With Apple</app-button>
    <app-button (click)="loginGoogle()" icon="logo-google" color="google">Continue With Google</app-button>
    <app-button (click)="loginFacebook()" icon="logo-facebook" color="facebook">Continue With Facebook</app-button>
    <app-button (click)="loginAirands()" icon="icon-brand-leaf" [ionicIcon]="false" color="primary">Continue With Email</app-button>
  </div>

</ion-content>
