<ion-content class="ion-padding" [scrollY]="false">

  <ion-grid>

    <ion-row>
      <ion-col class="login-hero">
        <img class="ion-float-end" src="assets/online_shopping.svg" alt="Online Shopping">
        <h1 class="ion-text-nowrap ion-justify-self-end">airand</h1>
      </ion-col>
    </ion-row>

    <ion-row class="ion-padding-top">
      <ion-col>
        <ion-button (click)="goNext()" color="secondary" expand="block">Continue</ion-button>
      </ion-col>
    </ion-row>

    <!--    <ion-row class="auth-row">-->
    <!--      <ion-col>-->
    <!--        <ion-item color="light" lines="none">-->
    <!--          <ion-input-->
    <!--              maxlength="10"-->
    <!--              type="tel"-->
    <!--              inputmode="tel"-->
    <!--              placeholder="Mobile Number"-->
    <!--          ></ion-input>-->
    <!--        </ion-item>-->

    <!--        <ion-item color="light" lines="none">-->
    <!--          <ion-input-->
    <!--              maxlength="64"-->
    <!--              type="password"-->
    <!--              placeholder="Password"-->
    <!--          ></ion-input>-->
    <!--        </ion-item>-->

    <!--        <ion-button expand="block">Login</ion-button>-->
    <!--      </ion-col>-->
    <!--    </ion-row>-->
  </ion-grid>

</ion-content>
