.splash-onboard-buttons {
  width: 100%;
  bottom: env(safe-area-inset-bottom, 0);
}

.splash-content {
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-100%);
  width: 100%;

  ion-button {
    font-weight: bold;
  }

  img {
    width: 90%;
    margin-bottom: 24px;
  }

  h1 {
    font-weight: bold;
    font-size: 4.5em;
  }

}