<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title color="primary" size="large">Account</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding-horizontal">
    <div class="user-info">
      <ion-item class="ion-no-padding" color="transparent" lines="none">
        <ion-label class="ion-text-bold" color="secondary">Mobile Number</ion-label>
        <ion-label class="ion-text-end">{{ user.phoneNumber }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding" color="transparent" lines="none">
        <ion-label class="ion-text-bold" color="secondary">Name</ion-label>
        <ion-label class="ion-text-end">{{ user.fullName }}</ion-label>
      </ion-item>
      <ion-item class="ion-no-padding" color="transparent" lines="none">
        <ion-label class="ion-text-bold" color="secondary">Address</ion-label>
        <ion-label class="ion-text-end">{{ user.formattedAddress }}</ion-label>
      </ion-item>
    </div>
    <ion-button (click)="logout()"
                color="transparent"
                expand="block"
                size="large"
    >Log Out
    </ion-button>
  </div>

</ion-content>
