<ion-row *ngIf="active; else inactive">

  <ion-col size="9">
    <ion-item color="transparent">
      <ion-label position="stacked">Item Name</ion-label>
      <ion-input #ionInput
                 type="text"
                 [(ngModel)]="item.name"
                 [placeholder]="placeholder"
                 autocapitalize="on"
                 autocorrect="on"
                 maxlength="64"
      ></ion-input>
    </ion-item>
  </ion-col>

  <ion-col size="3">
    <ion-item color="transparent">
      <ion-label position="stacked">Quantity</ion-label>
      <ion-input type="number"
                 [(ngModel)]="item.quantity"
                 inputmode="numeric"
                 maxlength="4"
      ></ion-input>
    </ion-item>
  </ion-col>

</ion-row>
<ng-template #inactive>
  <ion-row>
    <ion-col>
      <ion-item class="inactive-item" button [detail]="false" lines="none" color="transparent">
        <ion-label color="white">{{ item.name }}</ion-label>
        <ion-note slot="end" color="white">{{ item.quantity }}</ion-note>
      </ion-item>
    </ion-col>
  </ion-row>
</ng-template>
