<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Receipts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-header collapse="condense" class="ion-no-border">
    <ion-toolbar>
      <ion-title color="primary" size="large">Receipts</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container
      [routeCb]="goNext.bind(this)"
      name="You don't have any receipts"
  ></app-explore-container>
</ion-content>
