.splash-content {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  ion-button {
    font-weight: bold;
  }

  img {
    width: 90%;
    margin-bottom: 24px;
  }

  h1 {
    font-family: serenity, sans-serif;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    font-size: 4.5em;
  }

}
