ion-button {
  transition: transform 0.15s ease;
  --background-activated: var(--background);
  --background-hover: var(--background);

  ion-icon {
    color: white;
  }

  &:active {
    transform: scale(1.09);
  }
}

.onboarding-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-80%);

  .onboarding-text {
    margin-bottom: 32px;

    h2 {
      font-weight: bold;
    }

    p {
      font-size: 18px;
      margin-top: 32px;
    }
  }

  ion-item {

    ion-note {
      font-size: 24px;
      padding: 0 8px;
    }

    &.offset-right {
      --padding-end: 32px;

      ion-input {
        font-size: 24px;
      }
    }
  }

  ion-button {
    margin-top: 32px;
  }

  a {
    text-decoration: none;
  }
}

ion-tabs {

  --ion-background-color: white;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: var(--ion-color-secondary);
  --ion-text-color-rgb: var(--ion-color-secondary-rgb);

  ion-tab-button {
    --color-selected: var(--ion-color-secondary-tint);
  }

}
