@import "mixins";

* {
  font-family: skolar-sans-latin, sans-serif;
  font-style: normal;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serenity, sans-serif;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: initial;
}

.ion-text-bold {
  font-weight: bold;
}

.onboarding-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-80%);
  --ion-color-contrast: white;

  .onboarding-text {
    margin-bottom: 32px;

    h2 {
      font-weight: bold;
    }

    p {
      font-size: 18px;
      margin-top: 32px;
    }
  }

  ion-item {

    ion-note {
      font-size: 24px;
      padding: 0 8px;
    }

    &.offset-right {
      --padding-end: 32px;

      ion-input {
        font-size: 24px;
      }
    }
  }

  ion-button {
    margin-top: 32px;
  }

  a {
    text-decoration: none;
  }
}

ion-tabs {

  ion-tab-bar {
    --border: none;
  }

  ion-header {
    ion-toolbar {
      --background: var(--ion-background-color);
      --border-style: none;

      ion-title {
        letter-spacing: var(--app-letter-spacing);
      }
    }
  }

}
