<ion-header class="ion-no-border workflow-header">
  <ion-toolbar color="transparent">
    <ion-buttons *ngIf="hasBack" slot="start">
      <ion-button (click)="handleClick()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <div class="inline-title d-flex justify-content-center">
      <ng-content select="inline-title"></ng-content>
    </div>
    <ion-buttons *ngIf="hasClose" slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<h3 class="ion-text-left ion-padding-horizontal">
  <ng-content></ng-content>
</h3>
