.pin-item {

  --inner-padding-end: 0;
  --inner-padding-bottom: 16px;


  ion-input {
    --padding-end: 0;
    --background: var(--ion-color-secondary-tint);
    --placeholder-color: white;

    text-align: center;
    border-radius: 8px;
    margin-right: 8px;

    &:last-of-type {
      margin-right: 0;
    }
  }

}

